<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>template property</title>
</head>
<body>
   <div id="app">

   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>

   var template =          
      `<div> 
         <h1>{{ message }}</h1>
         <h2>- {{ author }} -</h2>
      </div>`

      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            message: 'Jangan Lupa Sholat',
            author: 'Kenang'
         },
         template: template

      })
   </script>
</body>
</html>