<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>v-once</title>
</head>
<body>
   <div id="app">
      <p v-once>{{ message }}</p> 
      <p>{{ message }}</p> 

    </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            message: 'Hello Vue!' 
         }
      })
   </script>
</body>
</html>