<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>v-html</title>
</head>
<body>
   <div id="app">
      <h2 v-html="tag_html"></h2>
      {{tag_html}}
    </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            tag_html: '<span style="color:green">Helo Jakarta</span>' 
         }
      })
   </script>
</body>
</html>