<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>intro vue</title>
</head>
<body>
   <div id="app">
      <form>
         <!-- lakuin event, bukan enter -->
         <input v-model.lazy="msg">
      </form>
      {{ msg }}
    </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app',
         data: {
            msg: '' 
         },
      })
   </script>

</body>
</html>