<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>v-html</title>
</head>
<body>
   <div id="app">
      {{ message }}

      <p>{{ 'Pesan : ' + message }}</p>

      <p>{{ `number * 20 = ${number * 20}` }}</p>
   
      <p>{{ test ? 'YES' : 'NO'  }}</p>
      
      <p>{{ message.split('').reverse().join('') }}</p>

      <!-- <p>{{  var angka = 1 }}</p> -->
      <!-- <p>gaboleh js statement/if/for dalam 2 kurung, bolehnya expression</p> -->
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            message: 'jangan Lupa sholat',
            number: 3000,
            test: true,
            array: [1,2,4] 
         }
      })
   </script>
</body>
</html>