<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>2 way data binding dgn v-model</title>
</head>
<body>
   <div id="app">
      <input type="text" v-model:value="message">
      <p>{{ message }}</p>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app',
         data: {
            message: 'Jangan Lupa Puasa' 
         }
      })
   </script>
</body>
</html>