<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>radio</title>
</head>
<!-- radio cm bisa pilih salah satu, checkbox bisa banyak -->
<body>
   <div id="app">
      <form>
         <select v-model="selected" multiple>
            <option disabled value="">Ditahan dulu, tarik</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
          </select>
          <br>
          <span>Selected: {{ selected }}</span>
      </form>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app',
         data: {
            selected: [],

         },
      })
   </script>

</body>
</html>