<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>multiple line</title>
</head>
<body>
   <div id="app">
      <form>
         <span>Multiline message is:</span>
         <p style="white-space: pre-line;">{{ message }}</p>
         <br>
         <textarea v-model="message" placeholder="add multiple lines"></textarea>      
      </form>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            message: " "
         },
      })
   </script>

</body>
</html>