<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>radio</title>
</head>
<!-- radio cm bisa pilih salah satu, checkbox bisa banyak -->
<body>
   <div id="app">
      <form>
         <input type="radio" id="one" value="One" v-model="picked">
         <label for="one">One</label>
         <br>
         <input type="radio" id="two" value="Two" v-model="picked">
         <label for="two">Two</label>
         <br>
         <span>Picked: {{ picked }}</span>
      </form>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            picked: ""         
         },
      })
   </script>

</body>
</html>