<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>radio</title>
</head>
<!-- radio cm bisa pilih salah satu, checkbox bisa banyak -->
<body>
   <div id="app">
      <form>
         <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option value="1">Bandung</option> 
            <!-- bisa dikasih value="" -->
            <option value="2">Jakarta</option>
            <option value="3">Tasik</option>
         </select>
         <span>Selected: {{ selected }}</span>
      </form>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app',
         data: {
            selected: ""         
         },
      })
   </script>

</body>
</html>