<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>v-model</title>
</head>
<body>
   <div id="app">
      <form>
         <input v-model="message" placeholder="edit me">
         <p>Message is: {{ message }}</p>
      </form>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            message: " "
         },
      })
   </script>

</body>
</html>