<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>v-bind</title>
</head>
<body>
   <div id="app">
      <form>
         <input type="text" name="" v-bind:value="name" v-on:input="name = $event.target.value"/>
      </form>
      {{ name }}
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
      var vm = new Vue({
      el: '#app', //el=element, sesuaikan dgn id
         data: {
            name: "Kenang Ghalih"
         },
      })
   </script>

</body>
</html>